@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@layer components {
  /* fixes tailwind error */
  .glide__slide {
  }
  .project-links {
    @apply rounded-md bg-gray-200 p-3 uppercase text-gray-500 transition-colors hover:bg-gray-500 hover:text-blue-50;
  }
  .skills {
    @apply rounded-md bg-gray-200 p-3 text-sm uppercase text-gray-500;
  }
  .project-tools {
    @apply rounded-md bg-gray-200 p-3 uppercase text-gray-500 before:mr-1 before:content-['#'];
  }
  .slide-image {
    @apply glide__slide h-full w-full rounded-lg bg-black object-fill;
  }
  .header-link-sm {
    @apply fixed left-0 top-0 h-full w-full flex-col;
  }
}
